/* textarea, input, */
.ibox, .ui-spinner, /* .note-editor, */ .ui-sel /*, .note */ {
    display: block;
    margin-left: 160px;
    margin-bottom: 10px;
    width: 600px;
}
.qplain {
    display: none;
}
.qplain::after {
    content: "Hidden";
}

body.txt {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.ctl {
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    background-color: #e6e6e6;
}
.quser {
    float: right;
    background-color: lightgreen;
}
.qusen {
    float: right;
    background-color: lightblue;
}
.fq {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
.ht {
    width: 10rem;
    font-weight: bold;
    clear: both;
    float: left;
    border-top: 1px solid lightgrey;
    text-align: right;
    padding-right: 0.5rem;
}
.ex {
    margin-left: 12rem;
    margin-right: 5rem;
}
h2.ol {
    border-top: 1px solid black;
    background-color: rgb(240, 240, 240);
}
h3.ol {
    border-top: 1px solid black;
    background-color: rgb(240, 240, 240);
    padding-left: 2rem;
}
.in {
    margin-left: 10rem;
    border-top: 1px solid lightgrey;
}
.in1 {
    margin-left: 10rem;
}
div.input-group-field,
textarea.input-group-field {
    white-space: normal;
}
tbody td,
tbody th {
    padding: 0.5rem;
}

.instructions tbody th,
.instructions tbody td {
    padding: 0;
}
.instructions table,
.instructions tbody,
.instructions tbody tr,
.instructions table.unstriped tbody tr,
.question table,
.question tbody,
.question tbody tr,
.question table.unstriped tbody tr {
    border: none;
    border-color: transparent;
}
.note-editor {
    width: 100%;
}
input.cb {
    margin: auto;
    width: auto;
}

.ui-spinner {
    width: 100px;
}

.ui-spinner-input {
    width: 62px;
}
.slookup label {
    clear: none;
}

.sfind {
    clear: none;
    width: 200px;
}

.ans {
    /* width: 600px; */
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 24px;
    font-weight: bold;
    line-height: 200%;
}

.ans #ftext {
    line-height: 100%;
    overflow-wrap: break-word;
}

.solinfo {
    overflow-wrap: break-word;
}

.rail {
    line-height: 100%;
}
.tword td.ke {
    font-style: italic;
    font-weight: bolt;
    background-color: red;
    width: 1rem;
    text-align: center;
}
.tword td.kc {
    font-style: italic;
    width: 1rem;
    text-align: center;
}
.tword td.c1,
.tword td.c2 {
    background-color: lightyellow;
    text-align: center;
}
.tword td.p1,
.tword td.p2 {
    background-color: lightblue;
    vertical-align: middle;
    text-align: center;
    height: 1.65rem;
}

#chi {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: italic;
}
.sword,
.sword tbody {
    float: left;
    background-color: #eaeaea;
    margin: 3px 5px;
    line-height: normal;
}
.l50,
.l0 {
    background-color: lawngreen;
}
.l100,
.l1 {
    background-color: greenyellow;
}
.l200,
.l2 {
    background-color: yellow;
}
.l500,
.l3 {
    background-color: lightpink;
}
.g500,
.l4 {
    background-color: lightcoral;
}
.nopat,
.l5 {
    background-color: red;
}
.nomatch {
    text-decoration: line-through;
}
.sli {
    margin: 0;
    width: 1rem;
    padding: 0;
    text-align: center;
    border: 1px black dotted;
    height: 25px;
}

.slil {
    display: block;
    width: 1rem;
    text-align: center;
}

.ssum {
    display: block;
    clear: both;
    margin: 5px;
}

.off {
    font-size: 11px;
    text-align: center;
}
.sitem {
    display: inline;
}
/*
label {
    clear: both;
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    text-align: right;
}
*/
label.slil:after {
    content: none;
}

.allfocus {
    background-color: yellow;
}

.focus {
    border: 1px solid black !important;
}
/*
label:not(.rlab):after {
    content: ": ";
}
label.rlab {
    padding-right:5px;
}*/

.formula .callout.small {
    margin: 0rem;
}

.sol.callout.small {
    margin: 0.05rem;
    padding: 0.1rem;
}
table.cmath {
    width: auto;
    line-height: 100%;
}
table.cmath tbody {
    border: none;
}
table.cmath td.solv {
    font-family: "Courier New", Courier, monospace;
    background-color: white;
    margin-left: 10px;
    border-left: 1px dashed grey;
}
table.cmath td.math {
    font-size: 40px;
}
table.cmath td {
    background-color: #eaeaea;
}
table.cmath td.ovl {
    border-top: 2px solid black;
}

table.rithm,
table.cmath {
    border-collapse: collapse;
}
table.rithm td.l,
table.rithm td.m {
    padding-right: 20px;
}
table.rithm td.m,
table.rithm td.r {
    padding-left: 20px;
}

table.rithm td.l {
    border-right: 1px dashed black;
}
table.rithm td.m {
    border-right: 2px solid black;
}
table.mword {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table.mword td {
    border-right: 1px dotted grey;
    border-bottom: 1px solid black;
    background-color: white;
    padding: 0.1rem;
}

table.mword .error {
    background-color: red;
}
table.mword .unk {
    background-color: lightyellow;
}

table.mword .cnull {
    background-color: #f6f6f6;
}

table.mword .space {
    background-color: lightgray;
}

table.mword .cont {
    background-color: lightgreen;
}

table.mword .num {
    background-color: lightblue;
}

table.mword .sym {
    background-color: lightcoral;
}
table.mword .locked {
    background-color: cyan;
}

.tword {
    height: 55px;
    margin: 0;
    border: 0;
    border-spacing: 0;
}
.tword thead th,
.tword tbody td {
    margin: 0;
    padding: 0.05rem;
    vertical-align: top;
}
.tword .vans {
    color: green;
    text-align: center;
}
.idiv {
    float: left;
}
.fmwide {
    clear: both;
}

table.tfreq,
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

table.tfreq,
table.satable {
    border-collapse: collapse;
    width: auto;
}

table.ckfreq {
    border-collapse: collapse;
    margin-left: 20px;
    width: auto;
}
table.tfreq th {
    border-top: 1px solid #f1f1f1;
}
table.tfreq th,
table.tfreq td {
    padding: 0.1rem 0.3rem 0.1rem;
    height: 2rem;
}
table.tfreq td.rep,
table.tfreq th.rep {
    height: 4rem;
}
.prfreq td,
.prfreq th,
.ckfreq td,
.ckfreq th,
.tfreq td,
table.mfind td {
    border: 1px solid black;
    margin: 0px;
    padding: 0.1rem 0.15rem 0.1rem;
}

table.mfind {
    border-collapse: collapse;
    width: auto;
}

table.mfind td {
    font-family: Courier New, Courier, monospace;
    padding: 0.1rem;
}

.prfreq th,
.ckfreq th,
.tfreq thead th,
.satable thead th,
table.mfind th {
    text-align: center;
    background-color: #d3d3d3;
}
.prfreq th {
    width: 2rem;
}
.tfreq thead th {
    width: 20px;
}

.origtext {
    font-style: italic;
}

.prfreq thead .topleft,
.ckfreq thead .topleft,
.tfreq thead .topleft {
    border-left: none;
    border-top: none;
    background-color: white;
}
table.talign td {
    vertical-align: top;
}
thead .topleft.k1,
thead .topleft.k2 {
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #d3d3d3;
    border: 1px solid black;
}

.sanalysis table td,
.sanalysis table th,
.findres table td,
.findres table th {
    padding: 0.1rem;
    white-space: nowrap;
}

.ckfreq td,
.tfreq td {
    text-align: center;
}

.satable td {
    width: 120px;
    vertical-align: top;
}

input[type="radio"] {
    display: initial;
    width: auto;
    margin-left: 0px;
    margin-bottom: 0px;
}

.center {
    text-align: center;
}
.rlab {
    display: initial;
    width: auto;
    float: none;
}

.TOSOLVE,
.TOSOLVE2,
.TOSOLVEQ,
.TOANSWER {
    font-family: Courier New, Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0pt;
    line-height: 100%;
    white-space: pre-wrap;
}
.wsel {
    height: 15rem;
}
.ul {
    text-decoration: underline;
}
.BACON.TOSOLVE,
.BACON.TOSOLVE2,
.BACON.TOSOLVEQ,
.BACON.TOANSWER {
    font-size: 24px;
}
.BACON.TOSOLVEQ {
    margin-bottom: 4rem;
}

.TOSOLVEQ {
    margin-bottom: 6rem;
}

.TOANSWER {
    background-color: yellow !important;
    margin-bottom: 16pt;
}

.TOSOLVECLICK,
.TOANSWERCLICK {
    background-color: #74a4eb;
}

.mismatch {
    font-weight: normal;
}
.mismatch .b {
    font-weight: bold;
    color: darkred;
}
.mismatch .g {
    color: green;
}
.mismatch .formula {
    margin-left: 10px;
    font-style: italic;
    color: darkslategray;
    background-color: lightyellow;
}
.match {
    font-weight: bold;
    color: green;
}

.rtoggle-3:after {
    content: "\2714"; /* Heavy Checkmark */
}
.rtoggle-2:after {
    content: "\2718"; /* Heavy Ballot */
    color: white;
}
.rtoggle-1:after {
    content: "?";
}
.rtoggle-0 {
    background-color: transparent;
}
.rtoggle-1 {
    background-color: grey;
}
.rtoggle-2 {
    background-color: black;
}
.rtoggle-3 {
    background-color: green;
}

div.sols {
    margin-bottom: 10px;
}
div.sols .h {
    font-weight: bold;
    margin-right: 10px;
}
div.sols .sol {
    font-family: "Courier New", Courier, monospace;
}

#qtext {
    border: 1px solid #cacaca;
}

table.contact,
table.consonantline {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table.contact th {
    border-bottom: 1px solid black;
    text-align: center;
}
table.consonantline th {
    text-align: center;
    padding: 0.1rem;
}
table.consonantline th.c {
    border-bottom: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

table.contact td,
table.consonantline td {
    font-family: "Courier New", Courier, monospace;
    padding: 0.1rem;
}
table.contact td.prev {
    text-align: right;
}

table.consonantline td.prev {
    text-align: right;
    border-right: 1px solid black;
}
table.contact td.tlet {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.references a,
.references a:visited {
    text-decoration: none;
}

.references a {
    color: #b54b23;
}

.references h2 {
    clear: both;
    color: #b54b23;
    font: 700 35px/1em "Roboto", sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Style Definitions */

.references * {
    font-family: Arial, Helvetica, sans-serif;
}

.references a,
.references a:visited {
    text-decoration: none;
}

.references a[href] {
    color: #b54b23;
}

.references h3 {
    color: #b54b23;
    font-size: 15px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-bottom: 5px;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.references .a {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.references .c {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
}
.references .i {
    color: #b54b23;
    font-size: 25px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 10px;
}
.references .n {
    color: black;
    font-style: italic;
    margin-left: 5px;
}
.references .r {
    margin-left: 5px;
}
.references .h {
    font-style: italic;
    color: #b54b23;
    font-size: 15px;
    padding-left: 10px;
}
.references .w {
    font-weight: bold;
    padding-left: 10px;
}
.references .u {
    text-decoration: overline;
}

table.vfact,
table.found,
table.vdist {
    font-family: "Courier New", Courier, monospace;
    border-collapse: collapse;
    margin-right: 10px;
    border: 1px solid black;
}

table.combine td {
    vertical-align: top;
}

table.vdist th,
table.vfact th,
table.found th {
    text-align: center;
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
}

table.vdist td,
table.vfact td {
    border: 1px solid grey;
    text-align: right;
}

table.found tr td:nth-child(even),
table.found tr th:nth-child(even) {
    border-right: 1px solid grey;
    text-align: left;
    border-bottom: 1px solid grey;
    padding-right: 10px;
}

table.found tr td:nth-child(odd),
table.found tr th:nth-child(odd) {
    border-left: 1px solid grey;
    border-right: 1px dotted grey;
    text-align: right;
    border-bottom: 1px solid grey;
}
.button-group.round,
.input-group-button .round {
    border-radius: 0.625rem !important;
    overflow: hidden;
}
.button-group .button {
    margin-right: 0.2rem;
}
.mobile-app-toggle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: 1px solid #1779ba;
    border-radius: 0.625rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.mobile-app-toggle .button {
    background: transparent;
    color: #1779ba;
    margin-bottom: 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    border-radius: 0;
}

.mobile-app-toggle .button:nth-child(n + 1) {
    border-left: 1px solid #1779ba;
}

.mobile-app-toggle .button.is-active {
    background: #1779ba;
    color: #fefefe;
}

.input-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: start;
    justify-content: start;
}

.input-group input[type="number"]::-webkit-inner-spin-button,
.input-group input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.input-number-group .input-group-button {
    line-height: calc(80px / 2 - 5px);
}

.input-group .input-number {
    width: 80px;
    padding: 0 12px;
    /* vertical-align: top; */
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
}

.input-group .input-number,
.input-group .input-number-decrement,
.input-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0;
}

.input-group .input-number-decrement,
.input-group .input-number-increment {
    display: inline-block;
    width: 40px;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
}

.menu-text a {
    padding: 0 !important;
}
.input-group .input-number-decrement {
    margin-right: 0.1rem;
}

.input-group .input-number-increment {
    margin-left: 0.1rem;
}

.menu .menu-text a {
    padding: 0;
}

.dropdown.menu a {
    background: none;
}

.dropdown.menu .disabled_menu {
    color: #fefefe;
    cursor: not-allowed;
}

.menu .divider {
    background-color: white;
    height: 2px;
}

.menu .active > a {
    background: #1779ba !important;
    color: #fefefe;
}

.mwide select.msli {
    width: 3.5rem;
}

.fmwide select.msli {
    width: 3.9rem;
}

.filelist {
    height: 20rem;
}
.reveal {
    padding: 0rem;
}

.qtext {
    border-top: 1px solid grey;
    margin-bottom: 20px;
}
.qtext .points {
    font-weight: bold;
}
.qtext .qnum {
    padding-left: 10px;
}
.qtextentry p {
    display: inline;
}
.qtext .qbody p:first-of-type {
    display: inline;
}

.prfreq,
.ansblock {
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
    width: auto;
}
.sublist {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
}

.prfreq td,
.ansblock td {
    text-align: center;
}

.ansblock td.o.v {
    border: none;
    height: 2rem;
}
.ansblock .v {
    border: 1px solid black;
}
.ansblock td.a {
    background-color: yellow !important;
    height: 3rem;
    font-weight: bold;
}
.ansblock td.e {
    height: 3rem;
}

.formulabox {
    height: 3rem;
    width: 80%;
    margin: 1rem auto;
    border: 1px solid black;
    text-align: center;
    padding-top: 0.5rem;
}
.rsawide {
    height: 3rem;
    width: 12rem;
}
table.times {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

table.times td {
    padding: 0rem 1rem;
}
table.times td.t {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px dashed black;
}

table.times td.a {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px dashed black;
    text-align: right;
}

div.instructions {
    display: none;
}

table.hillans {
    margin-left: 10rem;
    margin-top: 2rem;
    border: none;
}
table.hillblock {
    margin-top: 2rem;
}
table.hillblock td {
    min-width: 2rem;
}

table.hillans td.v {
    margin: 0;
    min-width: 3rem;
    min-height: 3rem;
}

table.hillans .big2 {
    font-size: 100px;
    padding: 0;
    margin: -30px;
}

table.instlook,
table.instbac {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    border-collapse: collapse;
    margin: 1rem auto;
    padding: 0;
    border: none;
}
table.instlook th {
    width: 1.5rem;
    border: 1px solid black;
    background-color: lightgrey !important;
}
table.instlook td {
    border: 1px solid black;
    width: 1.5rem;
    text-align: center;
}
table.instvig tr:nth-child(5n + 1) {
    border-bottom: 2px solid black;
}
table.instvig tr th:nth-child(5n + 1),
table.instvig tr td:nth-child(5n + 1) {
    border-right: 2px solid black;
}
table.instbac td.bv {
    font-weight: bold;
    border: 1px solid black;
    width: 5rem;
}
table.instbac td.bl {
    border: 1px solid black;
    width: 2rem;
}
table.instlfreq {
    font-family: "Courier New", Courier, monospace;
    border-collapse: collapse;
    padding: 0;
    border: none;
}

table.testscores {
    border: 1px solid black;
    width: 110 rem;
}
table.testscores th,
table.testscores td {
    border: 1px solid black;
    width: 12rem;
}
table.testscores th {
    text-align: center;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}
table.testscores td.v {
    text-align: right;
    padding: 0.1rem 4rem 0.1rem 0.5rem;
}
table.testscores td.t {
    text-align: left;
    padding: 0.1rem 0.5rem 0.1rem 4rem;
}
table.testscores td.grey {
    background-color: grey;
}
table.tiebreak {
    text-align: center;
    margin: 1rem auto;
}
table.instlfreq td.l {
    text-align: right;
    width: 5rem;
    padding-right: 0.5rem;
}
table.instlfreq td.v {
    text-align: right;
    width: 3rem;
}
table.instlfreq td.l::after {
    content: " - ";
}
table.nameline {
    width: 50rem;
    padding: 0;
}
table.nameline td {
    white-space: nowrap;
}
table.nameline td.u {
    border-bottom: 1px solid black;
    width: 100%;
    height: 2rem;
}
.runtitle {
    margin-top: 1rem;
    font-style: italic;
}
.runtext {
    margin-left: 5rem;
    font-family: "Courier New", Courier, monospace;
}
#xmltoimport {
    margin-left: 1rem;
}

.psel {
    margin: 0;
    font-size: larger;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 0.3rem 0.2rem 0.3rem;
    border-radius: 0.2rem;
}

/**
 * Dragable styling
*/
/* .draggable--original {
    border: 1px dashed purple;
    background: lightpink;
    color: purple;
} */
/* The container of the item being dragged applied before starting the dragging */
/* .draggable-container--is-dragging {
    border: 1px dashed green;
    color: green;
} */
/* The source item being dragged applied before starting the dragging */
/* .draggable-source--is-dragging {
    border: 1px dashed blue;
    color: blue;
} */
/* Applied to the entire DOM when you start dragging */
/* .draggable--is-dragging {
    border: 1px dashed orange;
    color: orange;
} */
/* The version of the dragged item within the container during dragging */
/* .draggable--over {
    border: 1px dashed purple;
} */
/* The container holding the overall draggable during dragging */
/* .draggable-container--over {
    border: 1px dashed cyan;
} */
/* The version of the dragged item just after it is dropped */
/* .draggable-source--placed {
    border: 1px dashed yellow;
    color: yellow;
} */
/* The version of the container just after it is dropped */
/* .draggable-container--placed {
    border: 1px dashed red;
    color: red;
} */
/* The copy which is being dragged */
.draggable-mirror table.tfreq th {
    background-color: #1779ba;
    color: #fefefe;
}
.draggable--over {
    opacity: 0.25;
}

.wshift {
    margin: 0.2rem;
    border-radius: 1rem;
}
.scioly {
    font-family: "Times New Roman", Times, serif;
}
.scioly .t {
    font-size: 1.9rem;
    text-transform: uppercase;
}
.wtitle {
    background: #e6e6e6;
    border: 1px solid #cacaca;
    height: 2.5rem;
    margin-right: 2.5rem;
    text-align: center;
    padding: 0.4rem 0rem 0rem 0rem;
}
.match1 {
    color: #8b4e38;
    font-weight: bold;
}
.match2 {
    color: #8e5b38;
    font-weight: bold;
}
.match3 {
    color: #906a39;
    font-weight: bold;
}
.match4 {
    color: #927839;
    font-weight: bold;
}
.match5 {
    color: #958839;
    font-weight: bold;
}
.match6 {
    color: #969739;
    font-weight: bold;
}
.match7 {
    color: #8a9939;
    font-weight: bold;
}
.match8 {
    color: #7d9c3a;
    font-weight: bold;
}
.match9 {
    color: #709e3a;
    font-weight: bold;
}
.match10 {
    color: #62a13a;
    font-weight: bold;
}

@media print {
    .title-bar,
    .top-bar,
    .noprint,
    .button-group {
        display: none !important;
    }
    div.instructions {
        display: block;
    }
    .pagebreak {
        page-break-before: always;
    }
    .question {
        page-break-inside: avoid;
    }
    div.affinework {
        height: 12rem;
    }
    table.hillblock,
    table.hillans {
        margin-bottom: 12rem;
    }
    @page {
        margin: 0.5in;
    }
    .TOANSWER {
        background-color: yellow !important;
    }
    .ansblock td.a {
        background-color: yellow !important;
    }
    body {
        -webkit-print-color-adjust: exact;
    }
}
