/* textarea, input, */
.ibox,
.ui-spinner,
.ui-sel {
    display: block;
    margin-left: 160px;
    margin-bottom: 10px;
    width: 600px;
}
:target {
    background-color: #ffffcc !important;
}
.hidden,
.qplain {
    display: none;
}
.qplain::after {
    content: 'Hidden';
}

th.asc::after {
    content: '\25b2';
    color: darkgreen;
}

th.desc::after {
    content: '\25bc';
    color: darkgreen;
}
.prev {
    display: none;
}
body.fs  {
    height: 100vh;
    overflow:hidden;
}
body.txt {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.ctl {
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    background-color: #e6e6e6;
}

.printbtn {
    border-radius: 10px;
    margin: 15px 50px;
}
.quseall,
.qusea,
.quseb,
.qusebs,
.qusec,
.qusecs {
    float: right;
    display: block;
    margin-left: 10px;
    font-size: 20px;
}

.quseall::after,
.qusea::after,
.quseb::after,
.qusebs::after,
.qusec::after,
.qusecs::after {
    border-radius: 0 0 10px 10px;
    padding: 2px;
}

.divb,
.divc,
.diva,
.divall {
    display: inline;
    margin-left: 4px;
    padding: 2px;
    border-radius: 5px;
    color: black;
}

.divall,
.quseall::after {
    background-color: #90be3f;
    border: 2px solid #0a8b45;
}
.diva,
.qusea::after {
    background-color: #ffc400;
    border: 2px solid #cc9c00;
}
.divb,
.quseb::after,
.qusebs::after {
    background-color: #d30d2b;
    border: 2px solid #99091f;
}
/* Official color for Division C was #0a7eca; */
.divc,
.qusec::after,
.qusecs::after {
    background-color: #0b91ea;
    border: 2px solid #064f80;
}

.quseall::after {
    content: 'All events';
}
.qusea::after {
    content: 'Div A';
}
.quseb::after {
    content: 'Div B';
}
.qusebs::after {
    content: 'Div B State/National Only';
}
.qusec::after {
    content: 'Div C';
}
.qusecs::after {
    content: 'Div C State/National Only';
}

.usedon {
    float: left;
}
.testset {
    margin-left: 120px;
}

.usemsg {
    display: inline;
    color: red;
}
.fq {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.ht {
    width: 10rem;
    font-weight: bold;
    clear: both;
    float: left;
    border-top: 1px solid lightgrey;
    text-align: right;
    padding-right: 0.5rem;
}
.ex {
    margin-left: 12rem;
    margin-right: 5rem;
}
h2.ol {
    border-top: 1px solid black;
    background-color: rgb(240, 240, 240);
}
h2.ol:target {
    background-color: rgb(204, 204, 166) !important;
}

h3.ol {
    border-top: 1px solid black;
    background-color: rgb(240, 240, 240);
    padding-left: 2rem;
}
h3.ol:target {
    background-color: rgb(204, 204, 166) !important;
}

.in {
    margin-left: 10rem;
    border-top: 1px solid lightgrey;
}
.in1 {
    margin-left: 10rem;
}
div.input-group-field,
textarea.input-group-field {
    white-space: normal;
}
tbody td,
tbody th {
    padding: 0.5rem;
}

.instructions tbody th,
.instructions tbody td {
    padding: 0;
}
.instructions table,
.instructions tbody,
.instructions tbody tr,
.instructions table.unstriped tbody tr,
.question table,
.question tbody,
.question tbody tr,
.question table.unstriped tbody tr {
    border: none;
    border-color: transparent;
}
.note-editor {
    width: 100%;
}
input.cb {
    margin: auto;
    width: auto;
}

.ui-spinner {
    width: 100px;
}

.ui-spinner-input {
    width: 62px;
}
.slookup label {
    clear: none;
}

.sfind {
    clear: none;
    width: 200px;
}

.ans {
    /* width: 600px; */
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 24px;
    font-weight: bold;
    line-height: 200%;
}

.ans #ftext {
    line-height: 100%;
    overflow-wrap: break-word;
}

.solinfo {
    overflow-wrap: break-word;
}

.rail {
    line-height: 100%;
}
.tword td.ke {
    font-style: italic;
    font-weight: bold;
    background-color: red;
    width: 1rem;
    text-align: center;
}
.tword td.kc {
    font-style: italic;
    width: 1rem;
    text-align: center;
}
.tword td.c1,
.tword td.c2 {
    background-color: lightyellow;
    text-align: center;
}
.tword td.p1,
.tword td.p2 {
    background-color: lightblue;
    vertical-align: middle;
    text-align: center;
    height: 1.65rem;
}

#chi {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: italic;
}
.sword,
.sword tbody {
    float: left;
    background-color: #eaeaea;
    margin: 3px 5px;
    line-height: normal;
}
.l50,
.l0 {
    background-color: lawngreen;
}
.l100,
.l1 {
    background-color: greenyellow;
}
.l200,
.l2 {
    background-color: yellow;
}
.l500,
.l3 {
    background-color: lightpink;
}
.g500,
.l4 {
    background-color: lightcoral;
}
.nopat,
.l5 {
    background-color: red;
}
.nomatch {
    text-decoration: line-through;
}
.sli {
    margin: 0;
    width: 1rem;
    padding: 0;
    text-align: center;
    border: 1px black dotted;
    height: 25px;
}

.slil {
    display: block;
    width: 1rem;
    text-align: center;
}

.ssum {
    display: block;
    clear: both;
    margin: 5px;
}

.off {
    font-size: 11px;
    text-align: center;
}
.sitem {
    display: inline;
}
/*
label {
    clear: both;
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    text-align: right;
}
*/
label.slil:after {
    content: none;
}

.allfocus {
    background-color: yellow;
}

.focus {
    border: 1px solid black !important;
}
/*
label:not(.rlab):after {
    content: ": ";
}
label.rlab {
    padding-right:5px;
}*/

.formula .callout.small {
    margin: 0rem;
}

.sol.callout.small {
    margin: 0.05rem;
    padding: 0.1rem;
}
table.cmath {
    width: auto;
    line-height: 100%;
}
table.cmath tbody {
    border: none;
}
table.cmath td.solv {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin-left: 10px;
    border-left: 1px dashed grey;
}
table.cmath td.math {
    font-size: 40px;
}
table.cmath td {
    background-color: #eaeaea;
}
table.cmath td.ovl {
    border-top: 2px solid black;
}

table.rithm,
table.cmath {
    border-collapse: collapse;
}
table.rithm td.l,
table.rithm td.m {
    padding-right: 20px;
}
table.rithm td.m,
table.rithm td.r {
    padding-left: 20px;
}

table.rithm td.l {
    border-right: 1px dashed black;
}
table.rithm td.m {
    border-right: 2px solid black;
}
table.mword {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table.mword td {
    border-right: 1px dotted grey;
    border-bottom: 1px solid black;
    background-color: white;
    padding: 0.1rem;
}

table.mword .error {
    background-color: red;
}
table.mword .unk {
    background-color: lightyellow;
}

table.mword .cnull {
    background-color: #f6f6f6;
}

table.mword .space {
    background-color: lightgray;
}

table.mword .cont {
    background-color: lightgreen;
}

table.mword .num {
    background-color: lightblue;
}

table.mword .sym {
    background-color: lightcoral;
}
table.mword .locked {
    background-color: cyan;
}

.tword {
    height: 55px;
    margin: 0;
    border: 0;
    border-spacing: 0;
}
.tword thead th,
.tword tbody td {
    margin: 0;
    padding: 0.05rem;
    vertical-align: top;
}
.tword .vans {
    color: green;
    text-align: center;
}
.idiv {
    float: left;
}
.fmwide {
    clear: both;
}
table.tmorse {
    white-space: nowrap;
}

table.tmorse input {
    display: inline;
}

table.tfreq,
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.rtab th {
    white-space: nowrap;
    border: 1px solid black;
}

table.tfreq,
table.satable {
    border-collapse: collapse;
    width: auto;
}
span.unk::after {
    content: '\200b';
}

div.ftext {
    max-width: 800px;
}
td.mcoff {
    text-align: left;
    background: #f1f1f1;
}
tr.mch0,
tr.mch1,
tr.mch2 {
    display: none;
}
table.ckfreq {
    border-collapse: collapse;
    margin-left: 20px;
    width: auto;
}
table.morsef td {
    text-align: center;
}
table.tfreq th {
    border-top: 1px solid #f1f1f1;
}
table.tfreq th,
table.tfreq td {
    padding: 0.1rem 0.3rem 0.1rem;
    height: 2rem;
}
table.tfreq td.rep,
table.tfreq th.rep {
    height: 4rem;
}
.intfreq td,
.intfreq th,
.prfreq td,
.prfreq th,
.ckfreq td,
.ckfreq th,
.tfreq td,
table.mfind td {
    border: 1px solid black;
    margin: 0px;
    padding: 0.1rem 0.15rem 0.1rem;
}

table.mfind {
    border-collapse: collapse;
    width: auto;
}

table.mfind td {
    font-family: Courier New, Courier, monospace;
    padding: 0.1rem 0.3rem !important;
}

table.mfind td.chi {
    text-align: right;
}

.intfreq th,
.prfreq th,
.ckfreq th,
.tfreq thead th,
.satable thead th,
table.mfind th {
    text-align: center;
    background-color: #d3d3d3;
}
.intfreq th,
.prfreq th {
    width: 2rem;
}
.tfreq thead th {
    width: 20px;
}

.origtext {
    font-style: italic;
}

.intfreq thead .topleft,
.prfreq thead .topleft,
.ckfreq thead .topleft,
.tfreq thead .topleft {
    border-left: none;
    border-top: none;
    background-color: white;
}
table.talign td {
    vertical-align: top;
}
thead .topleft.k1,
thead .topleft.k2 {
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #d3d3d3;
    border: 1px solid black;
}

.sanalysis table td,
.sanalysis table th,
.findres table td,
.findres table th {
    padding: 0.1rem;
    white-space: nowrap;
}

.ckfreq td,
.tfreq td {
    text-align: center;
}

.satable td {
    width: 120px;
    vertical-align: top;
}

input[type='radio'] {
    display: initial;
    width: auto;
    margin-left: 0px;
    margin-bottom: 0px;
}

.center {
    text-align: center;
}
.rlab {
    display: initial;
    width: auto;
    float: none;
}

.testcontent table.SOLVER {
    width: auto;
}

table.intfreq,
table.SOLVER {
    border-collapse: collapse;
    margin: 0 0 30px 0;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

table.SOLVER td.es,
table.SOLVER th.es {
    border-right: 1px solid black !important;
}
table.intfreq td,
table.SOLVER td {
    text-align:center;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

table.SOLVER td.TOSOLVEC {
    padding-top: 30px;
}

table.SOLVER 
table.SOLVER td {
    border: none;
}

.affineint input.awc,
.hillans input.awc {
    width: 100%;
}

input.awc {
    width: 1.5rem;
    background-color: #ffffe0;
    padding: 0;
}

input.awr {
    width: 2rem;
    background-color: #f0f0f0;
    padding: 0;
}

.TOSOLVEC,
.awr,
.awc{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 0pt;
    line-height: 100%;
    white-space: pre-wrap;
    text-align: center;
}

textarea.intnote {
    margin-top: 10px;
    height: 200px;
    width: 100%;
    border: 2px solid green;
    border-style: inset;
    font-family: 'Courier New', Courier, monospace;
}

.TOSOLVE,
.TOSOLVE2,
.TOSOLVEQ,
.TOANSWER {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0pt;
    line-height: 100%;
    white-space: pre-wrap;
}
.wsel {
    height: 15rem;
}
.ul {
    text-decoration: underline;
}
.BACON.TOSOLVE,
.BACON.TOSOLVE2,
.BACON.TOSOLVEQ,
.BACON.TOANSWER {
    font-size: 24px;
}
.BACON.TOSOLVEQ {
    margin-bottom: 4rem;
}

.TOSOLVEQ {
    margin-bottom: 6rem;
}

.TOANSWER {
    background-color: yellow !important;
    margin-bottom: 16pt;
}

.TOSOLVECLICK,
.TOawcLICK {
    background-color: #74a4eb;
}

.mismatch {
    font-weight: normal;
}
.mismatch .b {
    font-weight: bold;
    color: darkred;
}
.mismatch .g {
    color: green;
}
.mismatch .formula {
    margin-left: 10px;
    font-style: italic;
    color: darkslategray;
    background-color: lightyellow;
}
.match {
    font-weight: bold;
    color: green;
}

.rtoggle-3:after {
    content: '\2714'; /* Heavy Checkmark */
}
.rtoggle-2:after {
    content: '\2718'; /* Heavy Ballot */
    color: white;
}
.rtoggle-1:after {
    content: '?';
}
.rtoggle-0 {
    background-color: transparent;
}
.rtoggle-1 {
    background-color: grey;
}
.rtoggle-2 {
    background-color: black;
}
.rtoggle-3 {
    background-color: green;
}

div.sols {
    margin-bottom: 10px;
}
div.sols .h {
    font-weight: bold;
    margin-right: 10px;
}
div.sols .sol {
    font-family: 'Courier New', Courier, monospace;
}

#qtext {
    border: 1px solid #cacaca;
}

table.contact,
table.consonantline {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table.contact th {
    border-bottom: 1px solid black;
    text-align: center;
}
table.consonantline th {
    text-align: center;
    padding: 0.1rem;
}
table.consonantline th.c {
    border-bottom: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

table.contact td,
table.consonantline td {
    font-family: 'Courier New', Courier, monospace;
    padding: 0.1rem;
}
table.contact td.prev {
    text-align: right;
}

table.consonantline td.prev {
    text-align: right;
    border-right: 1px solid black;
}
table.contact td.tlet {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.references a,
.references a:visited {
    text-decoration: none;
}

.references a {
    color: #b54b23;
}

.references h2 {
    clear: both;
    color: #b54b23;
    font: 700 35px/1em 'Roboto', sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Style Definitions */

.references * {
    font-family: Arial, Helvetica, sans-serif;
}

.references a,
.references a:visited {
    text-decoration: none;
}

.references a[href] {
    color: #b54b23;
}

.references h3 {
    color: #b54b23;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.references .a {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.references .c {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
}
.references .i {
    color: #b54b23;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 10px;
}
.references .n {
    color: black;
    font-style: italic;
    margin-left: 5px;
}
.references .r {
    margin-left: 5px;
}
.references .h {
    font-style: italic;
    color: #b54b23;
    font-size: 15px;
    padding-left: 10px;
}
.references .w {
    font-weight: bold;
    padding-left: 10px;
}
.references .u {
    text-decoration: overline;
}

table.vfact,
table.found,
table.vdist {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    margin-right: 10px;
    border: 1px solid black;
}

table.combine td {
    vertical-align: top;
}

table.vdist th,
table.vfact th,
table.found th {
    text-align: center;
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
}

table.vdist td,
table.vfact td {
    border: 1px solid grey;
    text-align: right;
}

table.found tr td:nth-child(even),
table.found tr th:nth-child(even) {
    border-right: 1px solid grey;
    text-align: left;
    border-bottom: 1px solid grey;
    padding-right: 10px;
}

table.found tr td:nth-child(odd),
table.found tr th:nth-child(odd) {
    border-left: 1px solid grey;
    border-right: 1px dotted grey;
    text-align: right;
    border-bottom: 1px solid grey;
}
button.rounded {
    border-radius: 0.625rem !important;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button-group.round,
.input-group-button .round {
    border-radius: 0.625rem !important;
    overflow: hidden;
}
.button-group .button {
    margin-right: 0.2rem;
}
.mobile-app-toggle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: 1px solid #1779ba;
    border-radius: 0.625rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.mobile-app-toggle .button {
    background: transparent;
    color: #1779ba;
    margin-bottom: 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    border-radius: 0;
}

.mobile-app-toggle .button:nth-child(n + 1) {
    border-left: 1px solid #1779ba;
}

.mobile-app-toggle .button.is-active {
    background: #1779ba;
    color: #fefefe;
}

.input-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: start;
    justify-content: start;
}

.input-group input[type='number']::-webkit-inner-spin-button,
.input-group input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.input-number-group .input-group-button {
    line-height: calc(80px / 2 - 5px);
}

.input-group .input-number {
    width: 80px;
    padding: 0 12px;
    /* vertical-align: top; */
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
}
.input-group-button.checkbox {
    width: 40px;
    height: 40px;
    border: 1px solid #cacaca;
    border-radius: 0;
}

.input-group .input-number,
.input-group .input-number-decrement,
.input-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0;
}

.input-group .input-number-decrement,
.input-group .input-number-increment {
    display: inline-block;
    width: 40px;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
}

.menu-text a {
    padding: 0 !important;
}
.input-group .input-number-decrement {
    margin-right: 0.1rem;
}

.input-group .input-number-increment {
    margin-left: 0.1rem;
}

.menu .menu-text a {
    padding: 0;
}

.dropdown.menu a {
    background: none;
}

.dropdown.menu .disabled_menu {
    color: #fefefe;
    cursor: not-allowed;
}

.dropdown.menu .menubutton {
    background-color: #1779ba;
    color: white;
    border-radius: 0.625rem;
}

.menu .divider {
    background-color: white;
    height: 2px;
}

.menu .active > a {
    background: #1779ba !important;
    color: #fefefe;
}

.mwide select.msli {
    width: 3.5rem;
}

.fmwide select.msli {
    width: 3.9rem;
}

.filelist {
    height: 20rem;
}
.reveal {
    padding: 0rem;
}

.reveal-overlay.hideback {
    background-color: #773838;
}

.qtext {
    border-top: 1px solid grey;
    margin-bottom: 20px;
}
.qtext .points {
    font-weight: bold;
}
.qtext .qnum {
    padding-left: 10px;
}
.qtextentry p {
    display: inline;
}
.qtext .qbody p:first-of-type {
    display: inline;
}

.timer {
    position: fixed;
    right: 20px;
    top: 0;
    width: 200px;
    height: 50px;
    border: 1px solid green;
    background: white;
    padding-top:1px;
    z-index: 3;
}

.timer div.timestamp {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-weight: bold;
    float: right;
    height: 100%;
    background: lightcyan;
    padding: 5px 2px;
}
.participant {
    height: 16px;
    padding: 0px;
    margin: 0px;
}
.participant .uid {
    margin-left: 2px;
    font-size: 10px;
    height: 14px;
    width: 20px;
    border-radius: 6px;
    text-align: center;
    background: lightgrey;
    border: 1px solid darkgrey;
}
.participant.connected .uid {
    background: lightgreen;
    border: 1px solid darkgreen;
}

.timestamp {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24pt;
    font-weight: bold;
}


div.rn,
div.sn,
div.tn {
    display: inline-block;
    padding: 2px 10px;
    margin: 2px 0px;
    border: 1px solid rgb(200, 200, 200);
}

.intfreq,
.prfreq,
.ansblock {
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
}

div.vsolv {
    font-family: Arial, Helvetica, sans-serif;
}

.sublist {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
}

.intfreq td,
.prfreq td,
.ansblock td {
    text-align: center;
}

.ansblock td.o.v {
    border: none;
    height: 2rem;
}
.ansblock .s {
    height: 20px;
}
.ansblock .v {
    border: 1px solid black;
}
.ansblock td.a {
    background-color: yellow !important;
    height: 3rem;
    font-weight: bold;
}
.ansblock td.e {
    height: 3rem;
}

/* Extra size for elementary school */
.ansblock.atest tbody td,
.ansblock.atest tbody th {
    padding: 0.4rem !important;
}
.ansblock.atest td.o.v {
    height: 3rem !important;
    padding: .75rem;
}
.ansblock.atest td.a {
    height: 3.5rem !important;
    padding: .75rem;
}
.ansblock.atest td.e {
    height: 3.5rem !important;
    padding: .75rem;
}
.ansblock.atest .q.v {
    font-size: 14px;
}

@font-face {
    font-family: pigpen;
    src: url(fonts/PigpenCipher.woff);
}

.pigpen.ansblock .q.v {
    border: none;
    font-family: pigpen;
}

.pigpen.ansblock td.a {
    border: 1px solid block;
}
.TapCode td {
    padding: 0.1rem;
}

.formulabox {
    height: 3rem;
    width: 80%;
    margin: 1rem auto;
    border: 1px solid black;
    text-align: center;
    padding-top: 0.5rem;
}
.rsawide {
    height: 3rem;
    width: 12rem;
}
table.times {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

table.times td {
    padding: 0rem 1rem;
}
table.times td.t {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px dashed black;
}

table.times td.a {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px dashed black;
    text-align: right;
}

div.instructions {
    display: none;
}

table.interactive td.q {
    padding: 0px;
    width: 50px;
}

table.hillans {
    margin-left: 10rem;
    margin-top: 2rem;
    border: none;
}
table.hillblock {
    margin-top: 2rem;
}
table.hillblock td {
    min-width: 2rem;
}

table.affineint td {
    width: 35px;
    padding: 0;
}

table.hillans td.v {
    margin: 0;
    min-width: 3rem;
    min-height: 3rem;
}

table.hillans .big2 {
    font-size: 100px;
    padding: 0;
    margin: -30px;
}

table.instlook,
table.instbac {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-collapse: collapse;
    margin: 1rem auto;
    padding: 0;
    border: none;
}
table.instlook th {
    width: 1.3rem;
    border: 1px solid black;
    background-color: lightgrey !important;
}
table.instlook td {
    border: 1px solid black;
    width: 1.3rem;
    text-align: center;
}
table.instvig tr:nth-child(5n + 1) {
    border-bottom: 2px solid black;
}
table.instvig tr th:nth-child(5n + 1),
table.instvig tr td:nth-child(5n + 1) {
    border-right: 2px solid black;
}
table.instbac td.bv {
    font-weight: bold;
    border: 1px solid black;
    width: 5rem;
}
table.instbac td.bl {
    border: 1px solid black;
    width: 2rem;
}
table.instlfreq {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0;
    border: none;
}

table.testscores {
    border: 1px solid black;
    width: 110 rem;
}
table.testscores th,
table.testscores td {
    border: 1px solid black;
    width: 11rem;
}
table.testscores th {
    text-align: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
}
table.testscores td.v {
    text-align: right;
    padding: 0rem 4rem 0rem 0.5rem;
}
table.testscores td.t {
    text-align: left;
    padding: 0rem 0.5rem 0rem 4rem;
}
table.testscores td.grey {
    background-color: grey;
}
table.tiebreak {
    text-align: center;
    margin: 1rem auto;
}
table.instlfreq td.l {
    text-align: right;
    width: 5rem;
    padding-right: 0.5rem;
}
table.instlfreq td.v {
    text-align: right;
    width: 3rem;
}
table.instlfreq td.l::after {
    content: ' - ';
}
table.nameline {
    width: 50rem;
    padding: 0;
}
table.nameline td {
    white-space: nowrap;
}
table.nameline td.u {
    border-bottom: 1px solid black;
    width: 100%;
    height: 2rem;
}
.runtitle {
    margin-top: 1rem;
    font-style: italic;
}
.runtext {
    margin-left: 5rem;
    font-family: 'Courier New', Courier, monospace;
}
#xmltoimport {
    margin-left: 1rem;
}

.psel {
    margin: 0;
    font-size: larger;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 0.3rem 0.2rem 0.3rem;
    border-radius: 0.2rem;
}

.testgrid {
    grid-template-rows: 5% 10px 95%;
    display: grid;
    height:100vh;
    }
    
#topsplit {
    grid-area: 1 / 1/ 1/ 1;
    overflow:scroll;
}
#bottomsplit {
    grid-area: 3 / 1/ 3/ 1;
    overflow:scroll;
    padding-top:30px;
    margin-top:10px;
}

.gutter-row-1 {
    height: 20px;
    grid-area: 2 / 1/ 2/ 1;
    background-color: lightblue;
    border: 2px outset blue;
    z-index: 2;
}

.gutter-row-1 .tab {
    background-color:lightblue;
    position: relative;
    top: 0px;
    left: 48%;
    width: 80px;
    text-align: center;
    border-top: 2px outset lightblue;
    border-bottom: 2px outset blue;
    border-right: 2px outset blue;
    border-left: 2px outset blue;
    border-radius: 0px 0px 10px 10px;
    /* z-index: 0; */
    padding: 0px 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Dragable styling
*/
/* .draggable--original {
    border: 1px dashed purple;
    background: lightpink;
    color: purple;
} */
/* The container of the item being dragged applied before starting the dragging */
/* .draggable-container--is-dragging {
    border: 1px dashed green;
    color: green;
} */
/* The source item being dragged applied before starting the dragging */
/* .draggable-source--is-dragging {
    border: 1px dashed blue;
    color: blue;
} */
/* Applied to the entire DOM when you start dragging */
/* .draggable--is-dragging {
    border: 1px dashed orange;
    color: orange;
} */
/* The version of the dragged item within the container during dragging */
/* .draggable--over {
    border: 1px dashed purple;
} */
/* The container holding the overall draggable during dragging */
/* .draggable-container--over {
    border: 1px dashed cyan;
} */
/* The version of the dragged item just after it is dropped */
/* .draggable-source--placed {
    border: 1px dashed yellow;
    color: yellow;
} */
/* The version of the container just after it is dropped */
/* .draggable-container--placed {
    border: 1px dashed red;
    color: red;
} */
/* The copy which is being dragged */
.draggable-mirror table.tfreq th {
    background-color: #1779ba;
    color: #fefefe;
}
.draggable--over {
    opacity: 0.25;
}

.wshift {
    margin: 0.2rem;
    border-radius: 1rem;
}
.scioly {
    font-family: 'Times New Roman', Times, serif;
}
.scioly .t {
    font-size: 1.9rem;
    text-transform: uppercase;
}
.wtitle {
    background: #e6e6e6;
    border: 1px solid #cacaca;
    height: 2.5rem;
    margin-right: 2.5rem;
    text-align: center;
    padding: 0.4rem 0rem 0rem 0rem;
}
.match1 {
    color: #8b4e38;
    font-weight: bold;
}
.match2 {
    color: #8e5b38;
    font-weight: bold;
}
.match3 {
    color: #906a39;
    font-weight: bold;
}
.match4 {
    color: #927839;
    font-weight: bold;
}
.match5 {
    color: #958839;
    font-weight: bold;
}
.match6 {
    color: #969739;
    font-weight: bold;
}
.match7 {
    color: #8a9939;
    font-weight: bold;
}
.match8 {
    color: #7d9c3a;
    font-weight: bold;
}
.match9 {
    color: #709e3a;
    font-weight: bold;
}
.match10 {
    color: #62a13a;
    font-weight: bold;
}
.imgscale {
    height: 0.9em;
}

.nxtnav:hover,
.prevnav:hover {
    background: white;
    border-color: #1779ba;
    color: #1779ba;
}
.nxtnav {
    background: #1779ba;
    color: white;
    padding: 3px 10px 3px 15px;
    margin: 5px;
    -webkit-clip-path: polygon(
        75% 0%,
        100% 50%,
        75% 100%,
        0% 100%,
        25% 50%,
        0% 0%
    );
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.prevnav {
    background: #1779ba;
    color: white;
    padding: 3px 15px 3px 10px;
    margin: 5px;
    -webkit-clip-path: polygon(
        100% 0%,
        75% 50%,
        100% 100%,
        25% 100%,
        0% 50%,
        25% 0%
    );
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.page {
    page-break-inside: avoid;
    padding: 0.5in 0in 0.25in 0in !important;
    position: relative;
    height: 100%;
}
.page .head {
    display: none;
}
.page .headright {
    display: none;
}
.page .foot {
    width: 100%;
    margin: 0.7em auto;
    overflow: hidden;
    text-align: center;
    color: darkgray;
}
.page .foot:before,
.page .foot:after {
    content: '';
    display: inline-block;
    width: 50%;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 3px dashed darkgrey;
}
.page .foot:after {
    margin: 0 -55% 0 0.5em;
}
.sizeset {
    font-size: 12px;
}
.awc {
    display:block;
    width: 16px;
    padding: 0px;
    border: none;
}
.ir {
    float: right;
    position: relative;
    right: 4px;
    bottom: 7px;
    color: lightblue;
    width: 0px;
}

.ir:hover {
    color: black;
    font-weight: bold;
    cursor: col-resize;
}

.TOSOLVEC,
.sizeset .TOSOLVE,
.sizeset .TOSOLVE2,
.sizeset .TOSOLVEQ,
.sizeset .TOANSWER {
    font-size: 15px;
}
.TOSOLVEC.atest,
.sizeset .TOSOLVE.atest,
.sizeset .TOSOLVE2.atest,
.sizeset .TOSOLVEQ.atest,
.sizeset .TOANSWER.atest {
    font-size: 24px !important;
}
.sizeset .wsel {
    height: 10rem;
}
.sizeset .BACON.TOSOLVE,
.sizeset .BACON.TOSOLVE2,
.sizeset .BACON.TOSOLVEQ,
.sizeset .BACON.TOANSWER {
    font-size: 15px;
}
.sizeset .BACON.TOSOLVEQ {
    margin-bottom: 3rem;
}
.sizeset .TOSOLVEQ {
    margin-bottom: 4rem;
}
.sizeset .ansblock td.a,
.sizeset .ansblock td.e {
    height: 2rem;
}
.sizeset thead .topleft.k1,
.sizeset thead .topleft.k2 {
    font-size: 16px;
}
.sizeset table.hillans td.v {
    min-width: 2rem;
    min-height: 2rem;
}
.sizeset table.hillans .big2 {
    font-size: 60px;
}

table.morsemap {
    border: none;
    border-collapse: collapse;
}

table.morsemap td {
    padding: 10px;
}

table.morsemap td.m,
table.morsemap td.mr {
    border: 1px solid black;
    padding: 1px 5px;
    font-family: Courier New, Courier, monospace;
}

table.morsemap td.l,
table.morsemap td.ll {
    border: 1px solid black;
    white-space: nowrap;
    padding: 1px 5px;
}

table.morsemap td.m,
table.morsemap td.ll {
    text-align: left;
}

table.morsemap td.mr,
table.morsemap td.l {
    text-align: right;
}

table.known td,
table.known th {
    border: 1px solid black;
    vertical-align: top;
}
table.known {
    border-collapse: collapse;
    width: auto;
    margin-left: 50px;
}

table.railfence-lg {
    width: 50px;
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
}
table.railfence-md {
    width: 50px;
    font-size: 11pt;
    font-family: 'Courier New', Courier, monospace;
}
table.railfence-sm {
    width: 50px;
    font-size: 9pt;
    font-family: 'Courier New', Courier, monospace;
}
table th.rail-data,
table td.rail-data {
    width: 10px;
    padding: 0px;
    text-align: center;
}
table th.rail-info,
table td.rail-info {
    width: 15px;
    padding: 3px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
}
table.railfence-lg tbody tr:hover,
table.railfence-md tbody tr:hover,
table.railfence-sm tbody tr:hover {
    background-color: #d0d0d0;
}
table.railfence-lg thead,
table.railfence-md thead,
table.railfence-sm thead,
table.railfence-lg tbody,
table.railfence-md tbody,
table.railfence-sm tbody {
    background: transparent;
    border: none;
}

.testyear {
    display: none;
}

@media print {
    .title-bar,
    .top-bar,
    .noprint,
    .button-group {
        display: none !important;
    }
    .center,
    .page,
    .instructions {
        max-width: 8in;
    }
    div.instructions {
        display: block;
    }
    tbody td {
        padding: 0.27rem;
    }
    .page {
        page-break-inside: avoid;
        padding: 0.5in 0in 0.25in 0in !important;
        position: relative;
        width: 100%;
        height: 100%;
        page-break-after: always;
        page-break-before: always;
    }
    .prfreq th {
        width: 1.5rem;
    }
    .page .head {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0.25in;
        text-align: center;
    }
    .page .headright {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0.25in;
        text-align: right;
    }
    .page .foot {
        position: absolute;
        top: 10.5in;
        left: 0;
        right: 0;
        height: 0.25in;
        text-align: center;
    }
    .page .foot:before,
    .page .foot:after {
        content: none;
    }
    .pagebreak {
        page-break-before: always;
    }
    .question {
        page-break-inside: avoid;
    }
    div.affinework {
        height: 12rem;
    }
    .grid-x {
        display: block;
        flex-flow: default;
    }
    .grid-x > .shrink {
        width: default;
    }
    /* .cell.shrink {
        -webkit-flex:
        flex: 
    } */
    .cell {
        max-width: 8in;
        width: auto;
    }
    table.hillblock,
    table.hillans {
        margin-bottom: 12rem;
    }

    /* For the page we want an inch margin, but we need to insert the header at the half inch 
       mark.  So instead we are going to do a half inch margin and will have the div for the 
       page add the additional space.  On the bottom we need to do the page numbers at 1/4" 
       and will add an extra half inch margin there */
    @page {
        margin: 0.5in 0.5in 0.25in 0.5in;
    }
    .TOANSWER {
        background-color: yellow !important;
    }
    .ansblock td.a {
        background-color: yellow !important;
    }
    body {
        -webkit-print-color-adjust: exact;
    }
}
