.vscode/launch.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Ciphers/v15/.suo
.vs/ProjectSettings.json
.idea/
out/
AffineEncrypt - Copy.html
SamplePhrases.xlsx
node_modules/*
dist/*
.DS_Store
pom.xml
CipherTools*.zip
quotes*.json
tests/*
node_modules
Books/*
app/codebusters/pages/try1.html
app/codebusters/NewChanges.txt
