.vscode/launch.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Ciphers/v15/.suo
.vs/ProjectSettings.json
.idea/
out/
AffineEncrypt - Copy.html
SamplePhrases.xlsx
node_modules/*
dist/*
.DS_Store
pom.xml
CipherTools*.zip
quotes*.json
tests/*
node_modules
Books/11-0.txt
Books/76-0.txt
Books/84-0.txt
Books/Cortez.txt
Books/pg28860.txt
Books/pg44082.txt
Books/pg61064.txt
Books/VascoDeGama.txt
app/codebusters/pages/try1.html
