input, textarea, .ibox, .ui-spinner, .note-editor, .ui-sel, .note {
    display: block;
    margin-left: 160px;
    margin-bottom: 10px;
    width: 600px;
}

input.cb {
    margin:auto;
    width: auto;
}

.ui-spinner {
    width: 100px;
}

.ui-spinner-input {
    width: 62px;
}
.slookup label {
    clear: none;
}

.sfind {
    clear: none;
    width: 200px;
}

.ans {
    width: 600px;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 24px;
    font-weight: bold;
    line-height: 200%;
}

.err {
    height: 18px;
}

.cmds {
    clear:both;
    display: block;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 5px;
}

#chi {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: italic;
}
.sword {
    float: left;
    background-color: #eaeaea;
    margin: 3px 5px;
    line-height: normal;
}
.l50,.l0  { background-color: lawngreen;}
.l100,.l1 { background-color: greenyellow;}
.l200,.l2 {background-color:yellow;}
.l500,.l3 {background-color:lightpink;}
.g500,.l4 { background-color: lightcoral;}
.nopat,.l5 { background-color: red;}
.nomatch { text-decoration: line-through;}
.sli {
    margin: 0;
    width: 15px;
    text-align: center;
    border: 1px black dotted;
    height: 25px;
}

.slil {
    display: block;
    width: 15px;
    text-align: center;
}

.ssum {
    display: block;
    clear: both;
    margin: 5px;
}

.sitem {
    display: inline;
}

label {
    clear: both;
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    text-align: right;
}

    label.slil:after {
        content: none;
    }

.allfocus {
    background-color: yellow;
}

.focus {
    border: 1px solid black !important;
}

label:after {
    content: ": ";
}

table.cmath td.solv {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin-left: 10px;
    border-left: 1px dashed grey;
}
table.cmath td.math {
    font-size: 40px;
}
table.cmath td {
    background-color: #eaeaea;
}
table.cmath td.ovl {
    border-top: 2px solid black
}

table.rithm, table.cmath {
    border-collapse: collapse;
}
table.rithm td.l, table.rithm td.m {
    padding-right:20px;
}
table.rithm td.m, table.rithm td.r {
    padding-left:20px;
}

table.rithm td.l {
    border-right:1px dashed black;
}
table.rithm td.m {
    border-right:2px solid black;
}
table.mword {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}

    table.mword td {
        border-right: 1px dotted grey;
        border-bottom: 1px solid black;
        background-color: white;
    }

    table.mword .error {
        background-color: red;
    }

    table.mword .cnull {
        background-color: #f6f6f6;
    }

    table.mword .space {
        background-color: lightgray;
    }

    table.mword .cont {
        background-color: lightgreen;
    }

    table.mword .num {
        background-color: lightblue;
    }

    table.mword .sym {
        background-color: lightcoral;
    }
    table.mword .locked {
        background-color: cyan;
    }

.tword {
    height: 55px;
    margin: 0;
    border: 0;
    border-spacing: 0;
}
.tword .vans {
    color: green;
}
.idiv {
    float: left;
}

table.tfreq, table.satable {
    clear: both;
    border-collapse: collapse;
}

table.ckfreq {
    border-collapse: collapse;
    margin-left: 20px;
}

.ckfreq td, .ckfreq th, .tfreq td, table.mfind td {
    border: 1px solid black;
}

table.mfind {
    border-collapse: collapse;
}

    table.mfind td {
        font-family: Courier New, Courier, monospace;
    }

    .ckfreq th,
    .tfreq thead th,
    .satable thead th,
    table.mfind th {
        background-color: #D3D3D3;
    }

.ckfreq thead .topleft,
.tfreq thead .topleft {
    border-left: none;
    border-top: none;
    background-color: white;
}

.sanalysis {
    float: left;
    margin-right: 10px;
}

.ckfreq td, .tfreq td {
    /* width: 40px;*/
    text-align: center;
}

.satable td {
    width: 120px;
    vertical-align: top;
}

@font-face {
    font-family: 'DancingMen';
    src: url('./Dancingm.ttf') format('truetype');
}

.DancingMen {
    font-family: "DancingMen Font", Verdana, Tahoma;
    font-size: 24pt;
    font-weight: bold;
}

input[type="radio"] {
    display:initial;
    width: auto;
    margin-left: 0px;
    margin-bottom: 0px;
}

.rlab {
    display: initial;
    width: auto;
    float:none;
}

.TOSOLVE,.TOANSWER {
    font-family: Courier New, Courier, monospace;    
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0pt;
    line-height: 100%;
}
.TOANSWER {
    background-color: #ffff00;
    margin-bottom: 16pt;
}

.TOSOLVECLICK,.TOANSWERCLICK {
    font-family: Courier New, Courier, monospace;    
    font-size: 16px;
    font-weight: bold;
    background-color: #74a4eb;
    margin-bottom: 0pt;
    line-height: 100%;
}

.mismatch {
    font-weight: normal
}
.mismatch .b {
    font-weight: bold;
    color: darkred;
}
.mismatch .g {
    color: green;
}
.mismatch .formula {
    margin-left: 10px;
    font-style:italic;
    color: darkslategray;
    background-color: lightyellow;
}
.match {
    font-weight: bold;
    color: green;
}

.rtoggle-0 {
    background-color: transparent;
}
.rtoggle-1 {
    background-color: grey;
}
.rtoggle-2 {
    background-color: black;
}
.rtoggle-3 {
    background-color: green;
}

div.sols {
    margin-bottom: 10px;
}
div.sols .h {
    font-weight: bold;
    margin-right:10px;
}
div.sols .sol {
    font-family: 'Courier New', Courier, monospace;
}

table.contact,
table.consonantline {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}
table.contact th {
    border-bottom: 1px solid black;
    text-align:center;
}
table.consonantline th {
    text-align:center;
}
table.consonantline th.c {
    border-bottom: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}

table.contact td,
table.consonantline td {
    font-family: 'Courier New', Courier, monospace;
}
table.contact td.prev {
    text-align: right;
}

table.consonantline td.prev {
    text-align: right;
    border-right: 1px solid black;
}
table.contact td.tlet {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.references a,
.references a:visited {
    text-decoration: none;
}

.references a {
    color: #b54b23;
}

.references h2 {
    clear:both;
    color: #b54b23;
    font: 700 35px/1em "Roboto", sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
}


        /* Style Definitions */

        .references * {
            font-family: Arial, Helvetica, sans-serif;
        }

        .references a,
        .references a:visited {
            text-decoration: none;
        }

        .references a[href] {
            color: #b54b23;
        }


        .references h3 {
            color: #b54b23;
            font-size: 15px;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            padding-bottom: 5px;
            padding-top: 10px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .references .a {
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 30px;
        }
        .references .c {
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 60px;
        }
        .references .i {
            color: #b54b23;
            font-size: 25px;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            padding-bottom: 10px;
            text-transform: uppercase;
            margin: 10px;
        }
        .references .n {
            color: black;
            font-style: italic;
            margin-left: 5px;
        }
        .references .r {
            margin-left:5px;
        }
        .references .h {
            font-style:italic;
            color: #b54b23;
            font-size: 15px;
            padding-left: 10px;
        }
        .references .w {
            font-weight: bold;
            padding-left: 10px;
        }
        .references .u {
            text-decoration: overline;
       }


table.vfact,
table.found,
table.vdist {
    font-family: 'Courier New', Courier, monospace;   
    border-collapse: collapse;
    margin-right:10px;
    border:1px solid black;  
}

table.combine td{
    vertical-align: top;
}

table.vdist th,
table.vfact th,
table.found th {
    text-align: center;
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
}

table.vdist td,
table.vfact td {
    border:1px solid grey;
    text-align: right;
}

table.found tr td:nth-child(even),
table.found tr th:nth-child(even) {
    border-right: 1px solid grey;
    text-align: left;
    border-bottom: 1px solid grey;
    padding-right:10px;
}

table.found tr td:nth-child(odd),
table.found tr th:nth-child(odd) {
    border-left: 1px solid grey;
    border-right: 1px dotted grey;
    text-align: right;
    border-bottom: 1px solid grey;
}