<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
<%= require('html-loader!./analytics.html') %>

<div class="MenuBar" data-cipher="<%= htmlWebpackPlugin.options.cipher %>"></div>
    <h2><%= htmlWebpackPlugin.options.title %></h2>
    <a href="HillKeys.html" target="new">Known Valid Keys</a>
    <div class="precmds"></div>
    <div class="postcmds"></div>
    <div class="err" id="err"></div>
    <div class="cmdbuttons" ></div>
    <div class="ans" id="answer"></div>
    <hr />
    <div class="sol" id="sol"></div>
</body>
</html>
