<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
<%= require('html-loader!./analytics.html') %>

<div class="MenuBar" data-cipher="<%= htmlWebpackPlugin.options.cipher %>"></div>
    <h2><%= htmlWebpackPlugin.options.title %></h2>
    <label>
        Encoded Text
        <textarea id="encoded" cols="20" rows="4"></textarea>
    </label>
    <div class="cmdbuttons"></div>
    <div id="qtext cell"></div>
    <div class="ans cell" id="answer"></div>
    <div class="freq shrink cell"></div>
    <div class="sanalysis grid-x" id="analysis"></div>
    <div class="slookup cell small-12 large-6" id="lookup">
        <div class="langsel"></div>
        <div class="cell langstatus"></div>
        <div class="cell input-group">
            <span class="input-group-label">Find spot for</span>
            <input id="find" class="sfind input-group-field" type="text" />
        </div>
        <div class="findres cell shrink"></div>
    </div>
</body>

</html>