<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
            <%= require('html-loader!./analytics.html') %>
                <div class="callout primary">
                    <div class="cell clearfix">
                        <a class="float-right"
                            href="https://ncscienceolympiad.ncsu.edu/resources/high-school/codebusters/"><img
                                src="images/ncso-main-fullcolor-rgb.jpg" width="180" /></a>
                        <a class="float-right" href="https://www.soinc.org/codebusters-c"><img
                                src="https://www.soinc.org/sites/default/files/SCI_OLY_LOGO.jpeg" width="180"
                                height="120" /></a>
                        <h2>
                            <span class="scioly">S<span class="t">cience</span> O<span class="t">lympiad</span> C<span
                                    class="t">ode</span>B<span class="t">usters</span></span>
                        </h2>
                        <div class="cell">
                            <a class="button large rounded" href="TakeTest.html">Take a Test</a>
                        </div>
                        <div class="cell">
                            <a class="button rounded" href="TestManage.html">Test Manager</a> -
                            Create/Delete/Edit Tests
                        </div>
                        <div class="cell">
                            <a class="button rounded" href="TestQuestions.html">Question Manager</a>
                            - Manage/Delete unused questions
                        </div>
                    </div>
                    <div class="cell callout warning small" data-closable="">
                        <h4>Important!</h4>
                        <p>When solving a Morbit, Pollux or Baconian cipher, you must put the answer under the
                            corresponding solution character. This means that on a Baconian answer, four out of five
                            answer boxes in a row should be blank and Morbit/Pollux answers should only have one letter
                            under the characters that make up the morse code. For example if the morse code text was
                            ●–×–●●●×–●–●×–●●×● (which corresponds to ABCDE) you should write the answer as below:
                            Also note that the system does not grade anything that is not in the yellow underlined boxes
                            so you do not have to fill in the morse characters or the AB of the Baconian.</p>
                        <table class="ansblock cipherint baconian SOLVER">
                            <tbody>
                                <tr>
                                    <td class="q v S0">2 </td>
                                    <td class="q v S1"> </td>
                                    <td class="q v S2">8 </td>
                                    <td class="q v S3"> </td>
                                    <td class="q v S4">1 </td>
                                    <td class="q v S5"> </td>
                                    <td class="q v S6">3 </td>
                                    <td class="q v S7"> </td>
                                    <td class="q v S8">4 </td>
                                    <td class="q v S9"> </td>
                                    <td class="q v S10">4 </td>
                                    <td class="q v S11"> </td>
                                    <td class="q v S12">8 </td>
                                    <td class="q v S13"> </td>
                                    <td class="q v S14">1 </td>
                                    <td class="q v S15"> </td>
                                    <td class="q v S16">7 </td>
                                    <td class="q v S17"> </td>
                                </tr>
                                <tr>
                                    <td class="S0"><input id="R0_0" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S1"><input id="R0_1" class="awr" type="text" ismorse="1" value="–"
                                            disabled="disabled"></td>
                                    <td class="S2"><input id="R0_2" class="awr" type="text" ismorse="1" value="×"
                                            disabled="disabled"></td>
                                    <td class="S3"><input id="R0_3" class="awr" type="text" ismorse="1" value="–"
                                            disabled="disabled"></td>
                                    <td class="S4"><input id="R0_4" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S5"><input id="R0_5" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S6"><input id="R0_6" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S7"><input id="R0_7" class="awr" type="text" ismorse="1" value="×"
                                            disabled="disabled"></td>
                                    <td class="S8"><input id="R0_8" class="awr" type="text" ismorse="1" value="–"
                                            disabled="disabled"></td>
                                    <td class="S9"><input id="R0_9" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S10"><input id="R0_10" class="awr" type="text" ismorse="1" value="–"
                                            disabled="disabled"></td>
                                    <td class="S11"><input id="R0_11" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S12"><input id="R0_12" class="awr" type="text" ismorse="1" value="×"
                                            disabled="disabled"></td>
                                    <td class="S13"><input id="R0_13" class="awr" type="text" ismorse="1" value="–"
                                            disabled="disabled"></td>
                                    <td class="S14"><input id="R0_14" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S15"><input id="R0_15" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                    <td class="S16"><input id="R0_16" class="awr" type="text" ismorse="1" value="×"
                                            disabled="disabled"></td>
                                    <td class="S17"><input id="R0_17" class="awr" type="text" ismorse="1" value="●"
                                            disabled="disabled"></td>
                                </tr>
                                <tr>
                                    <td class="e v S0"><input id="I0_0" class="awc" type="text" value="A"
                                            disabled="disabled"></td>
                                    <td class="e v S1"><input id="I0_1" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S2"><input id="I0_2" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S3"><input id="I0_3" class="awc" type="text" value="B"
                                            disabled="disabled"></td>
                                    <td class="e v S4"><input id="I0_4" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S5"><input id="I0_5" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S6"><input id="I0_6" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S7"><input id="I0_7" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S8"><input id="I0_8" class="awc" type="text" value="C"
                                            disabled="disabled"></td>
                                    <td class="e v S9"><input id="I0_9" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S10"><input id="I0_10" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S11"><input id="I0_11" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S12"><input id="I0_12" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S13"><input id="I0_13" class="awc" type="text" value="D"
                                            disabled="disabled"></td>
                                    <td class="e v S14"><input id="I0_14" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S15"><input id="I0_15" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S16"><input id="I0_16" class="awc" type="text" value=""
                                            disabled="disabled"></td>
                                    <td class="e v S17"><input id="I0_17" class="awc" type="text" value="E"
                                            disabled="disabled"></td>
                                </tr>
                                <tr>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                    <td class="s"> </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            Likewise for a Baconian you can only fill in one of the five positions for the Baconian
                            letter.
                            It can be in any of the positions, but you should only fill in a single one of them.</p>
                        <div style="display:inline">
                            <table class="ansblock cipherint baconian SOLVER">
                                <tbody>
                                    <tr>
                                        <td class="q v S0">- </td>
                                        <td class="q v S1"> + </td>
                                        <td class="q v S2">+ </td>
                                        <td class="q v S3">+ </td>
                                        <td class="q v S4 es">- </td>
                                        <td class="q v S5">+ </td>
                                        <td class="q v S6">- </td>
                                        <td class="q v S7">- </td>
                                        <td class="q v S8">+ </td>
                                        <td class="q v S9 es">- </td>
                                        <td class="q v S10">+ </td>
                                        <td class="q v S11">- </td>
                                        <td class="q v S12">+ </td>
                                        <td class="q v S13">- </td>
                                        <td class="q v S14 es">+ </td>
                                        <td class="q v S15">- </td>
                                        <td class="q v S16">+ </td>
                                        <td class="q v S17">+ </td>
                                        <td class="q v S18">- </td>
                                        <td class="q v S19 es">- </td>
                                        <td class="q v S20">+ </td>
                                        <td class="q v S21">+ </td>
                                        <td class="q v S22">- </td>
                                        <td class="q v S23">+ </td>
                                        <td class="q v S24">+ </td>
                                    </tr>
                                    <tr>
                                        <td class="S0"><input id="R0_0" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S1"><input id="R0_1" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S2"><input id="R0_2" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S3"><input id="R0_3" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S4 es"><input id="R0_4" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S5"><input id="R0_5" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S6"><input id="R0_6" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S7"><input id="R0_7" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S8"><input id="R0_8" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S9 es"><input id="R0_9" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S10"><input id="R0_10" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S11"><input id="R0_11" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S12"><input id="R0_12" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S13"><input id="R0_13" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S14 es"><input id="R0_14" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S15"><input id="R0_15" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S16"><input id="R0_16" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S17"><input id="R0_17" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S18"><input id="R0_18" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S19 es"><input id="R0_19" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S20"><input id="R0_20" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S21"><input id="R0_21" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S22"><input id="R0_22" class="awr" type="text" value="B"
                                                disabled="disabled"></td>
                                        <td class="S23"><input id="R0_23" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                        <td class="S24"><input id="R0_24" class="awr" type="text" value="A"
                                                disabled="disabled"></td>
                                    </tr>
                                    <tr>
                                        <td class="e v S0"><input id="I0_0" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S1"><input id="I0_1" class="awc" type="text" value="S"
                                                disabled="disabled"></td>
                                        <td class="e v S2"><input id="I0_2" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S3"><input id="I0_3" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S4 es"><input id="I0_4" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S5"><input id="I0_5" class="awc" type="text" value="O"
                                                disabled="disabled"></td>
                                        <td class="e v S6"><input id="I0_6" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S7"><input id="I0_7" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S8"><input id="I0_8" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S9 es"><input id="I0_9" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S10"><input id="I0_10" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S11"><input id="I0_11" class="awc" type="text" value="L"
                                                disabled="disabled"></td>
                                        <td class="e v S12"><input id="I0_12" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S13"><input id="I0_13" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S14 es"><input id="I0_14" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S15"><input id="I0_15" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S16"><input id="I0_16" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S17"><input id="I0_17" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S18"><input id="I0_18" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S19 es"><input id="I0_19" class="awc" type="text" value="V"
                                                disabled="disabled"></td>
                                        <td class="e v S20"><input id="I0_20" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S21"><input id="I0_21" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S22"><input id="I0_22" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                        <td class="e v S23"><input id="I0_23" class="awc" type="text" value="E"
                                                disabled="disabled"></td>
                                        <td class="e v S24"><input id="I0_24" class="awc" type="text" value=""
                                                disabled="disabled"></td>
                                    </tr>
                                    <tr>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                        <td class="s"> </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="cell">
                        <h4>Summary of what's new:</h4>
                        <ul>
                            <li>Version 4.0.5</li>
                            <ul>
                                <li>
                                    Fix elusive bug which caused the system to sometimes lose Affine answers.
                                </li>
                            </ul>
                            <li>Version 4.0.4</li>
                            <ul>
                                <li>
                                    Catch expired tokens which were generating odd error messages about missing id.
                                </li>
                            </ul>
                            <li>Version 4.0.3</li>
                            <ul>
                                <li>
                                    Eliminated caching the time calls so that local browsers on Linux wouldn't end up
                                    with an incorrect time.
                                    Major rewrite of the scoring software to be more efficient with the server.
                                </li>
                            </ul>
                            <li>Version 4.0.2</li>
                            <ul>
                                <li>
                                    We have cleaned up the code for settings dates for scheduled tests to prevent
                                    invalid ranges and email addressed from being entered and removed
                                    any tests which had dates which were out of range and invalid email addresses which
                                    could cause problems on the system.
                                </li>
                            </ul>
                            <li>Version 4.0.0</li>
                            <ul>
                                <li>
                                    This is a Major rewrite of the backend server to increase performance and number of
                                    users for
                                    the system. Please feel free to report any bugs at <a
                                        href="https://github.com/toebes/ciphers/issues">github.com/toebes/ciphers/issues</a>
                                    This also includes an update to automatically delete any test taken after two weeks.
                                    As part of keeping data safe for all users, any personally identifiable information
                                    is automatically
                                    deleted when the corresponding tests are deleted.
                                    This includes any names or email addresses which are associated with a test.<p>The
                                        mobit and pollux scoring algorithm has been updated. The answer letter needs to
                                        be under at least one of the morse digits and that ONLY one answer letter can
                                        be under the digits for a morse character</p>
                                </li>
                            </ul>
                            <a href="versions.html">Previous Versions...</a>
                        </ul>
                        <hr class="prev" />
                    </div>
                    <div class="cell">
                        <p>
                            An quick tutorial of using the tool can be seen at
                            <a
                                href="https://www.youtube.com/watch?v=pcz_3ql8ebM">https://www.youtube.com/watch?v=pcz_3ql8ebM</a>
                        </p>
                    </div>
                    <div class="cell">
                        <em>Please report any problems at </em><a
                            href="https://github.com/toebes/ciphers/issues">github.com/toebes/ciphers/issues</a>
                    </div>
                    <div class="cell callout warning small">
                        <em><u><b>Are you a coach looking for hints and solving guides?</b></u></em>
                        Here are three places to go:
                        <ul>
                            <li>
                                Use the Answers and Solutions automatically generated for any question
                            </li>
                            <li>
                                Use the resources listed on the
                                <a href="https://www.soinc.org/codebusters-c">national Science Olympiad CodeBusters
                                    site</a>
                            </li>
                            <li>
                                The
                                <a href="https://twitter.com/NCSO_cb">
                                    <img height="20" width="20" src="images/Twitter_Logo.png" />@NCSO_cb
                                    twitter feed</a>
                                includes guides for solving just about every type of problem in the event
                            </li>
                        </ul>
                    </div>
                    <div class="cell callout warning small">
                        <em><u><b>Are you an Event leader looking to create a Division C Regional or
                                    Invitational test?</b></u></em>
                        You can use
                        <a
                            href="TestManage.html?importURL=https://toebes.com/codebusters/2020_sample_c_regional_test.json">this
                            sample test</a>
                        as a starting point for a good mix of questions and nominal score values. Don't
                        forget to Randomize the Aristocrats and pick new values for the questions. You can
                        also randomize the order of the questions when editing the test.
                    </div>
                </div>
                <div class="callout secondary">
                    <div class="grid-x">
                        <div class="cell small-12">
                            <h4>Create individual questions</h4>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="AffineEncrypt.html?cipherType=affine">Affine
                                <div class="divb">
                                    Div B
                                </div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded"
                                href="AristocratEncrypt.html?cipherType=aristocrat">Aristocrat
                                <div class="diva">Div A</div>
                                <div class="divb">Div B</div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="Atbash.html?cipherType=atbash">Atbash
                                <div class="diva">Div A</div>
                                <div class="divb">Div B</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="Baconian.html?cipherType=baconian">Baconian
                                <div class="divb">
                                    Div B
                                </div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="Caesar.html?cipherType=caesar">Caesar
                                <div class="diva">Div A</div>
                                <div class="divb">Div B</div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="HillEncrypt.html?cipherType=hill">Hill (2x2 and
                                3x3)
                                <div class="divc">
                                    Div C
                                </div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="MorbitEncrypt.html">Morbit
                                <div class="divb">Div B</div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded"
                                href="PatristocratEncrypt.html?cipherType=patristocrat">Patristocrat
                                <div class="divb">Div B</div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="PigPenEncrypt.html">PigPen/Masonic
                                <div class="diva">Div A</div>
                            </a>
                        </div>
                        <!-- <div class="cell small-4 medium-3">
                    <a
                        class="button secondary rounded"
                        href="RunningKeyEncoder.html?cipherType=runningKey"
                        >Running Key [NOT THIS YEAR]
                    </a>
                </div> -->
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="PolluxEncrypt.html">Pollux
                                <div class="divb">Div B</div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="RailFenceEncrypt.html">Rail Fence
                                <div class="divb">Div B</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="RSAEncrypt.html">RSA
                                <div class="divc">Div C State/Nat Only</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded" href="TapCodeEncrypt.html">Tap Code
                                <div class="diva">Div A</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded"
                                href="VigenereEncrypt.html?cipherType=vigenere">Vigen&egrave;re
                                <div class="diva">Div A</div>
                                <div class="divb">Div B</div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                        <div class="cell small-4 medium-3">
                            <a class="button secondary rounded"
                                href="XenocryptEncrypt.html?cipherType=aristocrat&lang=es">Xenocrypt
                                <div class="divb">Div B</div>
                                <div class="divc">Div C</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="callout secondary">
                    <h3>2020 Sample Tests</h3>
                    <hr />
                    <ul>
                        <li>
                            <a
                                href="TestManage.html?importURL=https://toebes.com/codebusters/NC_Invitational_C_2020.json">North
                                Carolina 2020
                                Invitational - Division C</a>
                        </li>
                        <li>
                            <a
                                href="TestManage.html?importURL=https://toebes.com/codebusters/NC_Invitational_B_2020.json">North
                                Carolina 2020
                                Invitational - Division B</a>
                        </li>
                        <!-- <li>
                <a href="TestManage.html?importURL=https://toebes.com/codebusters/Coaches_Institute_2019.json">Coaches
                    Institute 2019</a>
            </li> -->
                        <li>
                            <a href="TestManage.html?importURL=https://toebes.com/codebusters/Sample_01_2020.json">2020
                                Sample 1</a>
                        </li>
                        <li>
                            <a href="TestManage.html?importURL=https://toebes.com/codebusters/Sample_02_2020.json">2020
                                Sample 2</a>
                        </li>
                        <li>
                            <a href="TestManage.html?importURL=https://toebes.com/codebusters/Sample_03_2020.json">2020
                                Sample 3</a>
                        </li>
                        <li>
                            <a href="TestManage.html?importURL=https://toebes.com/codebusters/Sample_04_2020.json">2020
                                Sample 4</a>
                        </li>
                        <li>
                            <a href="TestManage.html?importURL=https://toebes.com/codebusters/Sample_05_2020.json">2020
                                Sample 5</a>
                        </li>
                    </ul>
                    <a href="samples.html">Other Samples</a>
                </div>
                <div class="callout secondary">
                    <h3>Contributors</h3>
                    <hr />
                    <p>
                        This would not be possible without the tireless volunteer work of a good team of
                        developers:
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/randy-labaza-084a471/">Randy Labaza</a> -
                            Many of the interactive tests, automatic scoring, and way too many other items
                            to list here.
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/sierramike/">Sean McDonald</a> -
                            Authentication system
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/johntoebes/">John Toebes</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/robert-gan-011651173/">Robert Gan</a> -
                            Date picker functions.
                        </li>
                    </ul>
                </div>
                <p class="text-center"><a href="Policies.html">Privacy Policy</a></p>
</body>

</html>