<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body class="txt">
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
                <h3>
                    <%= htmlWebpackPlugin.options.title %>
                </h3>

                <h4>Privacy</h4>
                <p>This Privacy Policy discloses the privacy practices for <a
                        href="https://toebes.com/codebusters">https://toebes.com/codebusters</a>.
                    This Privacy Policy applies to the information collected by this website.
                    We are the sole owners of the information collected on this site.
                    We only have access to information that you voluntarily give us via email or other direct contact
                    initiated by you or your coach.
                    We do no sell or rent your personal information to anyone.
                    We do not use the information for any purpose other than to provide access to the test or report
                    results to the event supervisor.
                    We will not share your information with third parties outside the organization, other than is
                    necessary to fulfill your request.
                    We take precautions to protect your information.
                    When you submit sensitive information via this website, your information is protected both online
                    and offline.
                    While we work to protect sensitive information transmitted online,
                    we also protect your information offline by sharing information only with employees or volunteers
                    who need the information to perform a specific function.
                    Our Privacy Policy may change from time to time and all updates will be posted here. If you feel we
                    are not abiding by this Privacy Policy, please <a href="mailto:ncso_codebusters@toebes.com">contact
                        us</a>.</p>
                <p>We recognize the sensitive nature of children accessing the website in order to take online tests.
                    For this purpose we deliberately only utlize the email address assigned by the coach in order to
                    control access the test and to display the student name on the test. This information is not shared
                    with any outside party and is only visible to the other students on the same team when they are
                    taking the test.</p>
                <hr />

                <h3>Privacy Policy</h3>
                <p><em>Last Updated 5/01/2021</em></p>
                <p>SCIENCE OLYMPIAD CODEBUSTERS (&ldquo;Company&rdquo;) owns and operates the website <a
                        href="https://toebes.com/codebusters/">toebes.com/codebusters</a>. These mentioned websites are
                    collectively known as the &ldquo;Site.&rdquo; Visitors and users of Site are referred to
                    individually as &ldquo;User&rdquo; and collectively as &ldquo;Users.&rdquo; By browsing, accessing,
                    registering, and/or using Site, you agree to be bound by Company's Terms of Use
                    (&ldquo;Terms&rdquo;), including this Privacy Policy and any additional guidelines. General usage
                    data refers to as non-personal identifiable usage data. General information refers to as
                    non-personal identifiable information.</p>
                <p>SCIENCE OLYMPIAD CODEBUSTERS Guiding Principles: no targeted advertisements to students and Users; no
                    selling of personal information to third parties; and collect and use personal data deemed as
                    necessary and required within the framework of participating in the Science Olympiad event
                    Codebusters as well as participating in Science Olympiad tournaments.</p>
                <p>This Privacy Policy explains how your information is collected, used, and retained when Users
                    browse, access, register and use Site.</p>
                <p>Company reserves the right to change, modify, add or remove portions of this Privacy Policy at any
                    time and at our discretion. Your notification of changes is indicated by the last updated date on
                    the Privacy Policy. Please periodically visit this section of Site to review the current version of
                    the Privacy Policy.</p>
                <h3>What Information Do We Collect and How Do We Collect It?</h3>
                <h4>Student Accounts</h4>
                <p>Site does not directly collect or sign up students for accounts, including students under 13 years of
                    age. Users of the site need to have an already established account with Google or Microsoft. To
                    access the site, Users need to sign into one of these two accounts and be verified by either Google
                    or Microsoft as the appropriate account holder. This ensures that the Site does not collect or
                    retain any personally identifiable information from any of our Users. Once the User has been
                    authenticated by the third party they are permitted access to the site.</p>
                <p>Pursuant to the Company’s Terms of Use, Users assume sole responsibility (and hereby agree that
                    Company is not responsible) for obtaining any consents required from parents or guardians in
                    connection with students using Site. Users represent and warrant to Company that they have either
                    obtained all necessary parent or guardian consents or have complied with all applicable requirements
                    of an exemption from or exception to parental consent requirements prior to using the Site.</p>
                <h4>Non-Student Accounts</h4>
                <p>Site does not directly collect or sign up individuals who are not students for accounts, including
                    students under 13 years of age. Non-student Users of the site need to have an already established
                    account with Google or Microsoft. To access the site, Non-student Users need to sign into one of
                    these two accounts and be verified by either Google or Microsoft as the appropriate account holder.
                    This ensures that the Site does not collect or retain any personally identifiable information from
                    any of our Non-student Users. Once the Non-student User has been authenticated by the third party
                    they are permitted access to the site.</p>
                <h4>Automatic Data Collection</h4>
                <p>When Users browse, access and/or use Site, we automatically collect general (non-personal) data from
                    your computer or mobile device such as your browser type, operating system, IP address and the
                    domain name from which you accessed Site, and if you are accessing our Site with your mobile device,
                    type of mobile device. In addition, we collect data about how you use our websites, such as the date
                    and time you visit Site, the areas or pages of Site that you visit and the amount of time you spend
                    viewing Site. In addition, Users who choose to take a Codebusters test on the Site will have their
                    keystrokes and inputs on the Site tracked so that their activities and actions while working on a
                    test can be shared with their teammates or partners who are also working on the test at the same
                    time.</p>
                <h3>Why and How Do We Use Your Information?</h3>
                <p>We use general usage data for statistical data and system analysis. General information collected
                    and analyzed for statistical data analysis may be shared with the National Science Olympiad, other
                    Science Olympiad organizations and Company’s volunteers and associates for purposes of meeting,
                    achieving and enhancing their primary goals and objectives. Company does not share general usage
                    data with third-party vendors.</p>
                <p>Keystroke and input data is used to create an interactive experience for partners and teammates who
                    are working on the same Codebusters test at the same time. During Science Olympiad tournament
                    competitions, this data may be reviewed by tournament Event Supervisors and/or tournament officials
                    if other indicators including but not limited to test scores and test completion time suggest that
                    rules of the competition may have been broken by a team during the tournament in question.</p>
                <h4>Sharing Your Personal Information</h4>
                <p>Since the Company does not collect personal information it cannot share or sell your personal
                    information to third parties.</p>
                <h4>Release of Score Report</h4>
                <p>The Company generally does not automatically release score reports and/or results except directly to
                    Users. In cases, where the Site is being used as part of a Science Olympiad Tournament. In the case
                    of tournament use, the Public release of score reports and results are subject to the tournament
                    management’s discretionary authority.</p>
                <h4>Where We Store and Process Data</h4>
                <p>We store and process data in the United States and our servers are hosted on AWS and managed by North
                    Carolina State University.</p>
                <h3>Security</h3>
                <p>Transmissions over the internet are never 100% secure. However, we take reasonable steps to protect
                    your data from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. It is
                    your responsibility to safeguard your passwords and User IDs. If you have reason to believe that
                    your account has been compromised, immediately notify head coach, school and Company at <a
                        href="mailto:codebusters@toebes.com">codebusters@toebes.com</a>. You are solely responsible for
                    any unauthorized uses via your password and User ID.</p>
                <h4>Do Not Track notifications</h4>
                <p>Some browsers allow you to automatically notify websites you visit not to track you using a &ldquo;Do
                    Not Track&rdquo; signal. There is no consistent standard as to what &ldquo;Do Not Track&rdquo; means
                    as it relates to what actions should be taken by websites. We currently do not respond to &ldquo;Do
                    Not Track&rdquo; signal from web browsers.</p>
                <h4>Cookies</h4>
                <p>Depending on your browser and operating system, the website will use <a
                        href="https://en.wikipedia.org/wiki/HTTP_cookie">http coookies</a> or <a
                        href="https://en.wikipedia.org/wiki/Web_storage">Web Storage</a> to store any locally generated
                    tests and short term session access information when connecting to the online test server. This
                    information is only used for the purpose of enabling access to the online tests.</p>
                <h4>Retention</h4>
                <p>We will delete data within a reasonable time after the data is no longer necessary for the purposes
                    for which it was collected.</p>
                <h4>Amendments</h4>
                <p>We reserve the right to change, modify, add or remove portions of this Privacy Policy at any time and
                    at our discretion. Your notification of changes is indicated by the last updated date on the Privacy
                    Policy.</p>
                <h4>Contact Us</h4>
                North Carolina Science Olympiad<br />
                Attn: Science Olympiad Codebusters<br />
                Campus Box 8211<br />
                Raleigh, NC 27695-8211<br />
                <a href="mailto:codebusters@toebes.com">codebusters@toebes.com</a>
</body>

</html>