<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
            <%= require('html-loader!./analytics.html') %>

                <div class="MenuBar" data-cipher="<%= htmlWebpackPlugin.options.cipher %>"></div>

                <div class="timer">
                    <div class="timestamp" id="tremain">Waiting</div>
                    <div class="participant" id="part1">
                        <div class="uid" id="init1">--</div>
                        <div class="idle" id="idle1"></div>
                    </div>
                    <div class="participant" id="part2">
                        <div class="uid" id="init2">--</div>
                        <div class="idle" id="idle2"></div>
                    </div>
                    <div class="participant" id="part3">
                        <div class="uid" id="init3">--</div>
                        <div class="idle" id="idle3"></div>
                    </div>
                </div>
                <div class="playback">
                    <div class="button-group round shrink">
                        <a type="button" class="skipstart noplay button secondary">&#x23EE;</a>
                        <a type="button" class="rewind noplay button secondary">&#x23EA;&#xFE0E;</a>
                        <a type="button" class="reverse noplay button secondary">&#x23F4;</a>
                        <a type="button" class="playstop button secondary">&#x23F5;</a>
                        <a type="button" class="fastforward noplay button secondary">&#x23E9;&#xFE0E;</a>
                        <a type="button" class="skipend noplay button secondary">&#x23ED;</a>
                    </div>
                    <div id="scrubslider" class="slider">
                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                            aria-controls="scrubvalue"></span>
                        <span class="slider-fill" data-slider-fill></span>
                        <input type="hidden" id="scrubvalue" class="noshow" />
                    </div>
                </div>
                <div class="controls"></div>
                <div class="disconnected"></div>
                <h2 class="center">Science Olympiad — <span class="testtitle"></span></h2>
                <h2 class="subheader center"><span class="testyear"></span></h2>
                <div class="precmds"></div>
                <div class="cmdbuttons"></div>
                <div class="testerrors"></div>
                <div class="ans"></div>

                <div class="interactive-header">
                    <p>Names of participants:</p>
                    <table class="shrink cell unstriped nameline">
                        <tbody>
                            <tr>
                                <td colspan="2" class="u" id="user1">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="u" id="user2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="u" id="user3">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    </p>
                </div>
                <div class="default-header">
                    <table class="shrink cell unstriped nameline">
                        <tbody>
                            <tr>
                                <td>School Name: </td>
                                <td class="u" id="school"></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Team:
                        &nbsp;&nbsp;<span id="cvarsity">&#x2611;</span> Varsity
                        &nbsp;&nbsp;&nbsp;&nbsp;<span id="cjv1">&#9723;</span> JV1
                        &nbsp;&nbsp;&nbsp;&nbsp;<span id="cjv2">&#9723;</span> JV2
                        &nbsp;&nbsp;&nbsp;&nbsp;<span id="cjv3">&#9723;</span> JV3
                    </p>
                </div>
                <div class="custom-header"></div>
                <div class="waittimer"></div>
                <div class="sizeset">
                    <div class="testcontent"></div>
                </div>
                <p>&nbsp;</p>
                </div>
                </div>
</body>

</html>