<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        table.solvers {
            border-collapse: collapse;
            border: 0px;
            font-family: "Roboto", sans-serif;
        }

        table.solvers th {
            border: 1px solid black;
            background-color: #d8a18d;
        }

        table.solvers td.notimp {
            background-color: #cecece;
            color: #634c43;
        }

        table.solvers td {
            background-color: #d8a18d;
            font-family: "Roboto", sans-serif;
            text-align: center;
            padding: 4px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
            <h2>
                <a href="http://www.cryptogram.org/">ACA</a> Cipher Solving
                Assistants
            </h2>
            <div class="callout primary">
                <div class="cell">
                    <a class="button" href="ACAManage.html">ACA Imported Issues</a> -
                    Import Digital CONS/Manage Issues
                </div>
                <div class="cell">
                    <a class="button" href="ACAProblems.html">ACA CON List</a> -
                    Solve Imported CONs
                </div>
                <div class="cell">
                    <a class="button" href="ACASubmit.html">ACA CON Submission</a> -
                    Count and generate submission text for solved CONs
                </div>
            </div>
            <div class="cell">
                <h4>Summary of what's new:</h4>
                <ul>
                    <li>Version 5.10.1</li>
                    <ul>
                        <li>
                            Updated indexes to include issues up to 2020.
                        </li>
                    </ul>
                    <li>Version 5.9.3</li>
                    <ul>
                        <li>
                            Major update to code to allow parsing the Digital Cons downloaded from the ACA site.
                        </li>
                    </ul>
                </ul>
                <hr />
            </div>
            <div class="callout secondary">
                <div class="grid-x">
                    <div class="cell small-12">
                        <h4>Solving Assistants</h4>
                    </div>
                    <div class="cell small-4 medium-3">
                        <a class="button secondary" href="Solver.html">Aristocrat/Patristocrat Assistant</a>
                    </div>
                    <div class="cell small-4 medium-3">
                        <a class="button secondary" href="XenocryptSolver.html">Xenocrypt Solving Assistant</a>
                    </div>
                    <div class="cell small-4 medium-3">
                        <a class="button secondary" href="CryptarithmSolver.html">Cryptarithm Solving Assistant</a>
                    </div>
                </div>
            </div>

            <table class="solvers">
                <tbody>
                    <tr>
                        <td class="notimp">
                            Amsco
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Amsco.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Autokey
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Autokey.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Baconian
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Baconian.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Bazeries
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Bazeries.pdf">?</a>
                        </td>
                        <td>
                            <a href="VigenereSolver.html?cipherType=beaufort">Beaufort</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Beaufort.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Bifid
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Bifid.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="notimp">
                            Cadenus
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Cadenus.pdf">?</a>
                        </td>
                        <td>
                            <a href="CheckerboardSolver.html">Checkerboard</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Checkerboard.pdf">?</a>
                        </td>
                        <td>
                            <a href="ColumnarSolver.html?cipherType=compcolumnar">Complete Columnar Transposition</a>
                            <a
                                href="http://www.cryptogram.org/downloads/aca.info/ciphers/CompleteColTransposition.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Condi
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Condi.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Cm Bifid
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/CMBifid.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Digrafid
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Digrafid.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="notimp">
                            Foursquare
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Foursquare.pdf">?</a>
                        </td>
                        <td>
                            <a href="FractionatedMorseSolver.html">Fractionated Morse</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/FractionatedMorse.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Grandpr&eacute;
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Grandpre.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Grille
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Grille.pdf">?</a>
                        </td>
                        <td>
                            <a href="GromarkSolver.html">Gromark</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Gromark.pdf">?</a>
                        </td>
                        <td>
                            <a href="VigenereSolver.html?cipherType=gronsfeld">Gronsfeld</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Gronsfeld.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="notimp">
                            Headlines
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Headlines.pdf">?</a>
                        </td>
                        <td>
                            <a href="HomophonicSolver.html?cipherType=homophonic">Homophonic</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Homophonic.pdf">?</a>
                        </td>
                        <td>
                            <a href="ColumnarSolver.html?cipherType=inccolumnar">Incomplete Columnar Transposition</a>
                            <a
                                href="http://www.cryptogram.org/downloads/aca.info/ciphers/IncompleteColTransposition.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Interrupted Key
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/InterruptedKey.pdf">?</a>
                        </td>
                        <td>
                            <a href="KeyPhraseSolver.html?cipherType=keyphrase">Key Phrase</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/KeyPhrase.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Monome-Dinome
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/MonomeDinome.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="MorbitSolver.html">Morbit</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Morbit.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Myszkowski
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Myszkowski.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Nicodemus
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Nicodemus.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Nihilist Substitution
                            <a
                                href="http://www.cryptogram.org/downloads/aca.info/ciphers/NihilistSubstitution.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Nihilist Transposition
                            <a
                                href="http://www.cryptogram.org/downloads/aca.info/ciphers/NihilistTransposition.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Null
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Null.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="NumberedKeySolver.html">Numbered Key</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/NumberedKey.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Periodic Gromark
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/PeriodicGromark.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Phillips
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Phillips.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Phillips-Rc
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/PhillipsRC.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Playfair
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Playfair.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Pollux
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Pollux.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="VigenereSolver.html?cipherType=porta">Porta</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Porta.pdf">?</a>
                        </td>
                        <td>
                            <a href="PortaxSolver.html?cipherType=portax">Portax</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Portax.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Progressive Key
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/ProgressiveKey.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Quagmire &#8544;
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/QuagmireI.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Quagmire &#8545;
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/QuagmireII.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Quagmire &#8546;
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/QuagmireIII.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="notimp">
                            Quagmire &#8547;
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/QuagmireIV.pdf">?</a>
                        </td>
                        <td>
                            <a href="RagbabySolver.html?cipherType=ragbaby">Ragbaby</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Ragbaby.pdf">?</a>
                        </td>
                        <td>
                            <a href="RailfenceSolver.html?cipherType=railfence">Railfence</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Railfence.pdf">?</a>
                        </td>
                        <td>
                            <a href="RailfenceSolver.html?cipherType=redefence">Redefence</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Redefence.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Route Transposition
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/RouteTransposition.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Running Key
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/RunningKey.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="notimp">
                            Seriated Playfair
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/SeriatedPlayfair.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Slidefair
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Slidefair.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Swagman
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Swagman.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Syllabary
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Syllabary.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Tridigital
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Tridigital.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Trifid
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Trifid.pdf">?</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="notimp">
                            Tri-Square
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/TriSquare.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Twin Bifid
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/TwinBifidTrifid.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Twin Trifid
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/TwinBifidTrifid.pdf">?</a>
                        </td>
                        <td class="notimp">
                            Two-Square
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/TwoSquare.pdf">?</a>
                        </td>
                        <td>
                            <a href="VigenereSolver.html?cipherType=variant">Variant</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Variant.pdf">?</a>
                        </td>
                        <td>
                            <a href="VigenereSolver.html?cipherType=vigenere">Vigen&egrave;re</a>
                            <a href="http://www.cryptogram.org/downloads/aca.info/ciphers/Vigenere.pdf">?</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>16 implemented... only 44 more to go</p>
</body>

</html>