<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
    <div class="MenuBar" data-cipher="<%= htmlWebpackPlugin.options.cipher %>"></div>
    <h2>
        <%= htmlWebpackPlugin.options.title %>
    </h2>
    <div class="precmds"></div>
    <div class="cell langstatus"></div>
    <div class="cmdbuttons"></div>
    <div id="qtext" class="cell"></div>
    <div class="ans cell" id="answer"></div>
    <div class="freq shrink cell"></div>
    <div class="postcmds"></div>
    <div class="sanalysis grid-x" id="analysis"></div>
    <!-- 
                <div class="precmds"></div>
                <div class="postcmds"></div>
                <div class="err" id="err"></div>
                <div class="cmdbuttons"></div>
                <div class="ans clearfix" id="answer"></div>
                <div class="sol" id="sol"></div>
             -->

</body>

</html>