<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
    <div class="MenuBar" data-cipher="<%= htmlWebpackPlugin.options.cipher %>"></div>
    <h2>
        <%= htmlWebpackPlugin.options.title %>
    </h2>
    <div class="precmds"></div>
    <div class="cell langsel"></div>
    <div class="cmdbuttons"></div>
    <div id="qtext" class="cell"></div>
    <div class="postcmds"></div>
    <div class="ans cell" id="answer"></div>
    <div class="freq shrink cell"></div>
    <div class="sanalysis grid-x" id="analysis"></div>
</body>

</html>